<!DOCTYPE html>
<html ng-app="resourceLocator">
  <head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>
  <body ng-cloak>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="resourceLocator.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>




    <section  ng-cloak ng-controller="PanelController as panel" class="text-center">

      <ul layout-align="center" class="nav nav-pills text-center">
        <li ng-class="{active: panel.isSelected(1)}">
           <a href ng-click="panel.selectTab(1)">Resource</a>
        </li>
        <li ng-class="{active: panel.isSelected(2)}">
           <a href ng-click="panel.selectTab(2)">Announcement</a>
        </li>
        <li ng-class="{active: panel.isSelected(3)}">
          <a href ng-click="panel.selectTab(3)">Purchase</a>
        </li>
        <li ng-class="{active: panel.isSelected(4)}">
          <a href ng-click="panel.selectTab(4)">Request</a>
        </li>
        <li ng-class="{active: panel.isSelected(5)}">
          <a href ng-click="panel.selectTab(5)">User</a>
        </li>
        <li ng-class="{active: panel.isSelected(6)}">
          <a href ng-click="panel.selectTab(6)">Dashboard</a>
        </li>
      </ul>

      <div class="panel" ng-cloak ng-show="panel.isSelected(1)" id="panel1">
        <h1>Resource</h1>

        <div class="text-center">
        <label>Resources Search</label>
        <select ng-change="change()" ng-model="selectedResourceGet" ng-cloak ng-options="x for x in resourceGets"></select>
        <br />
        <input ng-hide="showPost" class="form-group"ng-model="resourceInput"></input>
        <input ng-show="showPost" placeholder="Rname" ng-model="rname"></input>
        <input ng-show="showPost" placeholder="Rstock" ng-model="rstock"></input>
        <input ng-show="showPost" placeholder="Cid" ng-model="cid"></input>
        <input ng-show="showPost" placeholder="Rprice" ng-model="rprice"></input>
          <button class="btn-primary btn " ng-click="panel.getAllResources()">Submit</button>
          <table>
              <tr>
                  <th>rid</th>
                  <th>rname</th>
                  <th>rstock</th>
                  <th>cid</th>
                  <th>rprice</th>
              </tr>
              <tr ng-repeat="resource in responsejson1">
                  <td>{{resource.Rid}}</td>
                  <td>{{resource.Rname}}</td>
                  <td>{{resource.rstock}}</td>
                  <td>{{resource.cid}}</td>
                  <td>{{resource.rprice}}</td>
              </tr>
          </table>

          <p ng-model="display">{{display}}</p>
        </div>

      </div> <!--End of panel 1 row/col grid system-->

      <div class="panel" ng-show="panel.isSelected(2)" id="panel2">
        <h1>Announcement</h1>

        <div class="col-lg-4 text-center">
        <label>All Announcements</label>
        <select ng-change="change()" ng-model="selectedAnnouncementOption" ng-cloak ng-options="x for x in announcementOptions"></select>
        <input ng-hide="showPost" class="form-group"ng-model="resourceInput"></input>
        <input ng-show="showPost" placeholder="Sid" ng-model="sid"></input>
        <input ng-show="showPost" placeholder="Rid" ng-model="rid"></input>
        <input ng-show="showPost" placeholder="Aqty" ng-model="Aqty"></input>
        <input ng-show="showPost" placeholder="Aprice" ng-model="aprice"></input>
        <input ng-show="showPost" placeholder="Tid" ng-model="tid"></input>
        <button class="btn-primary btn pull-right" ng-click="panel.getAllAnnouncements()">Submit</button>
        <p ng-model="display">{{display}}</p>


        </div>

      </div>  <!--End of panel 2 row/col grid system-->

      <div class="panel" ng-show="panel.isSelected(3)" id="panel3">
        <h1>Transaction Log</h1>
        <div class="text-center">
        <label>Transaction Search</label>
        <select ng-change=change() ng-model="selectedTransactionOption" ng-cloak ng-options="x for x in transactionOptions"></select>
        <br />
        <input ng-hide="showPost" class="form-group" ng-model = "blahTransaction"></input>
        <input ng-show="showPost" placeholder="Sid" ng-model="sid"></input>
        <input ng-show="showPost" placeholder="Rid" ng-model="rid"></input>
        <input ng-show="showPost" placeholder="Quantity" ng-model="pqty"></input>
        <input ng-show="showPost" placeholder="Price" ng-model="pprice"></input>
        <input ng-show="showPost" placeholder="cid" ng-model="cid"></input>

          <button class="btn-primary btn " ng-click="panel.getAllTransactions()">Submit</button>
          <p ng-model="display">{{display}}</p>
        </div>

      </div><!--End of panel 3 row/col grid system-->

      <div class="panel" ng-show="panel.isSelected(4)" id="panel4">
        <h1>Resource Request</h1>
        <div class="text-center">
        <label>Requests Search</label>
        <select ng-change="change()" ng-model="selectedRequestOption" ng-cloak ng-options="x for x in requestOptions"></select>
        <br />
        <input ng-hide="showPost" class="form-group" ng-model = "currentSelec"></input>
        <input ng-show="showPost" placeholder="Cid" ng-model="cid"></input>
        <input ng-show="showPost" placeholder="Rid" ng-model="rid"></input>
        <input ng-show="showPost" placeholder="rrqty" ng-model="rrqty"></input>
        <input ng-show="showPost" placeholder="tid" ng-model="tid"></input>
        <button class="btn-primary btn " ng-click="panel.RequestMethodToggle()">Submit</button>
        <p ng-model="display">{{display}}</p>
        </div>

      </div><!--End of panel 4 row/col grid system-->

      <div class="panel" ng-show="panel.isSelected(5)" id="panel5">
        <h1>User</h1>
        <select ng-change="change()" ng-model="selectedUserOption" ng-cloak ng-options="x for x in userOptions"></select>
        <input ng-hide="showPost" class="form-group"ng-model="userInput"></input>
        <input ng-show="showPost" placeholder="Username" ng-model="username"></input>
        <input ng-show="showPost" placeholder="Password" ng-model="password"></input>
        <input ng-show="showPost" placeholder="Supplier ID" ng-model="sid"></input>
        <input ng-show="showPost" placeholder="Customer ID" ng-model="cid"></input>
        <button class="btn-primary btn " ng-click="panel.getUser()">Submit</button>

      </div><!--End of panel 5 row/col grid system-->

      <div class="panel" ng-show="panel.isSelected(6)" id="panel6">
        <h1>Dashboard</h1>
      </div><!--End of panel 6 row/col grid system-->


    </section>



  </body>
</html>
